.header-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  :global {
    .user-info {
      .username {
        cursor: pointer;
      }
    }
  }
}