.tags {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    :global {
        .tag-items {
            .ant-tag {
                cursor: pointer;
            }
        }
        .more-button {}
    }
}