::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #E7EBEF;
}

.ant-layout-sider {
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.ant-layout-sider,
.ant-layout-header {
    background-color: #fff;
}

.ant-layout-footer,
.ant-layout-header {
    padding-left: 16px;
}

.ant-layout-content {
    margin: 16px;
}